body{
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color: #2e5339!important;
    /* text-align: center; */
    /* background-color: #ff5666; */
    background: radial-gradient(circle, orange, rgba(255, 166, 0, 0.467),rgba(255, 166, 0, 0.248));
}
div{
    background-color: maroon;
}

/* .admission-card{
    background-color:blueviolet;
} */

#card1{
    background-color: green;
    width: 300px;
    height: 300px;
    margin: 50px;
    padding: 50px;
    border-width: 2px;
    border-color: red;
    border-style: solid;
    border-radius:50px;
    color: white;
    text-decoration: dotted;
    font-size: 25px;
    font-style: italic;
    font-weight: 800;

    text-align: center;
    
    
}

a{
    text-decoration: none;
    /* margin: 10px 25px; */
}

h2{
    background-color: yellowgreen;
    display: inline;
    margin: 0;
}

b{
    background-color: goldenrod;
    display:block;
}

.nav{
    list-style-type: none;
    background-color: brown;
    text-align: center;
     padding: 10px;
}

.nav li{
    /* background-color: lightseagreen; */
    /* margin: 5px; */
    font-weight: bold;
    display: inline;
    text-align: center;
    margin: 50px 10px;
    cursor:  pointer;
    padding: 5px;
    background-color: lime;
   
} 


.nav li:hover{
    background-color: orange;
    padding: 10px ;
    transition: all 0.3s ease;
    text-decoration: underline;
}